/* https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#textinputcontrol */
.root{
    color: #000;
    -background-color: #1b1b1b;
    -fx-background-color: #1b1b1b;
    -fx-font-size: 11pt;
}                
.label{
    -fx-text-fill: #e8e8e8;

}
.button{
    -fx-background-color: #d3d3d3;
}
.textfield{
    color: #000;
    -fx-highlight-fill: #838383;
    -fx-text-fill: #838383;
    -background-color:  #838383;
    -fx-background-color: #838383;
    -fx-highlight-text-fill: #838383;
    -fx-prompt-text-fill: #838383;
}
.menu-button {
    -fx-background-color: transparent; 
    -fx-background-image: url('menuicon2.png');
    -fx-background-position: center;
    -fx-pref-width: 32;
    -fx-pref-height: 32;
    -fx-background-size: auto;
}

.title-font{
    -fx-text-fill: #e8e8e8;
    -fx-font-family: "Lucida Calligraphy";
    -fx-font-size: 20pt;
    -fx-translate-x: 6;
    -fx-translate-y: -9;
    /* -fx-translate-z: 0; */
}

.time-display{
    -fx-text-fill: #e8e8e8;
    -fx-font-family: "Lucida Bright";
    -fx-font-size: 10pt;
    -fx-translate-x: 1350;
    -fx-translate-y: -3;
    -fx-text-alignment: center;
}

.menu-grid{
    -fx-background-color: #1d1d1d;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 1px;
    -fx-border-color: #e8e8e8;
    -fx-pref-height: 500;
    -fx-translate-y:-13.5;
}

.top-pane{
}

.settings-button {
    -fx-background-color: transparent; 
    -fx-background-image: url('settings.png');
    -fx-background-position: center;
    -fx-pref-width: 32;
    -fx-pref-height: 32;
    -fx-background-size: auto;
    -fx-translate-y: 100;
}
.home-button {
    -fx-background-color: transparent;
    -fx-background-image: url('home2.png');
    -fx-background-position: center;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-background-size: auto;
}
.journal-button{
    -fx-background-color: transparent;
    -fx-background-image: url('journal.png');
    -fx-background-position: center;
    -fx-pref-width: 33;
    -fx-pref-height: 33;
    -fx-background-size: auto;
    -fx-translate-y: 20;
    -fx-translate-x: 2;
}
.calendar-button{
    -fx-background-color: transparent;
    -fx-background-image: url('calendar.png');
    -fx-background-position: center;
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-background-size: auto;
    -fx-translate-y: 40;
    -fx-translate-x: 0;
}
.metrics-button{
    -fx-background-color: transparent;
    -fx-background-image: url('stonks.png');
    -fx-background-position: center;
    -fx-pref-width: 32;
    -fx-pref-height: 32;
    -fx-background-size: auto;
    -fx-translate-y: 80;
    -fx-translate-x: 0;
}
.work-button{
    -fx-background-color: transparent;
    -fx-background-image: url('start.png');
    -fx-background-position: center;
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-background-size: auto;
    -fx-translate-y: 60;
    -fx-translate-x: 0;
}
.parting-line{
    -fx-translate-y: 30;
}
.progress-arc{
    -fx-text-fill: #e8e8e8;
    -fx-font-family: "Helvetica";
    -fx-translate-x: 50;
    -fx-translate-y: 45;
    -fx-text-alignment: center;
}
.progress-percent{
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 40pt;
    -fx-text-alignment: center;
}
.progress-small{
    -fx-font-size: 12pt;
    -fx-text-alignment: center;
    -fx-translate-y: -10;

}
.work-label{
    -fx-translate-x: 50;
    -fx-translate-y: 15;
}
.preview-title{
    -fx-alignment: center;
    -fx-translate-x: 50;
    -fx-text-fill: #e8e8e8;
}